<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical HEALTH</title>
  
    <link rel="stylesheet" href="/static/css/paginaInicial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
       
    </style>
</head>
<body>

<div class="navbar">
    <a href="http://127.0.0.7:5500/templates/paginaInicial.html" class="logo"><i class="fas fa-hospital"></i>Clinical HEALTH</a>
    <a href="http://127.0.0.7:5500/templates/telalogin.html" class="logout">Sair</a>
</div>

<div class="welcome">
    <p>Bem-vindo ao Clinical HEALTH</p>
</div>

<section class="section">
    <a href="http://127.0.0.7:5500/templates/paginaEmDesenvolvimento.html" class="card">
        <div>
            <i class="fas fa-users" ></i>
            
            <h3>Gerenciamento de Usuários</h3>
            <p>Crie, edite e exclua contas de usuários.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/paciente/cadastroPaciente.html" class="card">
        <div>
            <i class="fas fa-user-injured"></i> 
            <h3>Gerenciamento de Pacientes</h3>
            <p>Visualize e edite informações dos pacientes.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/medico/cadastroMedico.html" class="card">
        <div>
            <i class="fas fa-user-md"></i>
            <h3>Gerenciamento de Médicos</h3>
            <p>Adicione, edite e remova informações de médicos.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/consulta/agendamentoConsulta.html" class="card">
        <div>
            <i class="far fa-calendar-alt"></i>
            <h3>Agendamento de Consultas</h3>
            <p>Agende consultas para os pacientes.</p>
        </div>
    </a>
</section>

<section class="section">
    <a href="http://127.0.0.7:5500/templates/paginaEmDesenvolvimento.html" class="card">
        <div>
            <i class="fas fa-cogs"></i>
            <h3>Adm Sistemas</h3>
            <p>Gerencie os aspectos do sistema.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/paginaEmDesenvolvimento.html" class="card">
        <div>
            <i class="far fa-file-alt"></i>
            <h3>Registros do Sistema</h3>
            <p>Acesse prontuários eletrônicos dos pacientes.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/paginaEmDesenvolvimento.html" class="card">
        <div>
            <i class="fas fa-chart-pie"></i> 
            <h3>Relatórios</h3>
            <p>Gere relatórios sobre atividades do sistema.</p>
        </div>
    </a>
    <a href="http://127.0.0.7:5500/templates/paginaEmDesenvolvimento.html" class="card">
        <div>
            <i class="fas fa-cog"></i>
            <h3>Configurações do Sistema</h3>
            <p>Ajuste configurações do sistema conforme necessário.</p>
        </div>
    </a>
</section>

<footer>
    <p>Desenvolvido por <i>CodeNinjas</i></p>
</footer>

</body>
</html>
