body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Degradê de azul de cima para baixo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos verticalmente */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
    text-align: left; /* Alinha o texto à esquerda */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Adicionado para incluir o padding no tamanho total */
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

.form-group .message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}

.forgot-password {
    text-align: right;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}